<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
     
    <h:head>
        <title>Menu</title>
        
    </h:head>
    <h:body>
        <ui:composition >  
            <f:view > 
         <h:form id="formMenu">   
             <p:panelMenu style="width:100%">
                
                <p:submenu label="Connexion"    >    
                  
                  <p:menuitem value="Déconnexion" icon="ui-icon-calculator" 
                              rendered="#{controleurSession.connexionOK}" 
                             
                              onclick="PF('confirmation').show()"
                              >
                     
                  </p:menuitem>
                            
                 </p:submenu> 
                <p:submenu label="Base"   rendered="#{controleurSession.connexionOK}">
                  <p:menuitem value="Clients"  icon="ui-icon-calculator"  outcome="crudclient"/>
                  <p:menuitem value="Produits" icon="ui-icon-folder-open"/>
                  <p:menuitem value="Catégories Produits" icon="ui-icon-folder-open"/>
                  <p:menuitem value="Régions"  icon="ui-icon-calculator" />
                </p:submenu>
                <p:submenu label="Suivi des Commandes" rendered="#{controleurSession.connexionOK}">
                  <p:menuitem value="Commandes par Clients"  icon="ui-icon-arrow-4"
                              outcome="commandesparclients"
                              />
                </p:submenu>
                <p:separator />
                <p:submenu label="Statistiques" rendered="#{controleurSession.connexionOK}">
                  <p:menuitem value="CA par Régions"  icon="ui-icon-arrow-4"
                              outcome="stats"/>
                  <p:menuitem value="CA par Catégories de Produits"  icon="ui-icon-arrow-4"/>
                </p:submenu>  
                <p:separator />
                <p:submenu label="Liens" rendered="#{controleurSession.connexionOK}">    
                  <p:submenu label="PrimeFaces" icon="ui-icon-heart">
                    <p:menuitem value="Home" url="http://www.primefaces.org" icon="ui-icon-home" />
                    <p:menuitem value="Docs" url="http://www.primefaces.org/documentation" icon="ui-icon-document" />
                    <p:menuitem value="Download" url="http://www.primefaces.org/downloads" icon="ui-icon-arrowthick-1-s" />
                    <p:menuitem value="Support" url="http://www.primefaces.org/support" icon="ui-icon-wrench" />
                  </p:submenu>
              </p:submenu> 
             </p:panelMenu> 
             
             <p:dialog header="Vous souhaitez vous déconnecter?"   widgetVar="confirmation" 
                       showEffect="bounce" hideEffect="explode">  
                 <h:form>    
                    <p:commandButton
                                value="Oui"  oncomplete="PF('confirmation').hide()"  
                                action="#{controleurSession.seDeconnecter()}"
                     />  
                    <p:commandButton value="Non" onclick="PF('confirmation').hide()" type="button" />   
                 </h:form>
             </p:dialog>  
             
           </h:form>         
         </f:view>
        </ui:composition>      
    </h:body>
   
</html>

