       
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
>
              
 <p:panel id="infosclient"
          
          styleClass="infosClient" 
          toggleable="true"   collapsed="false" 
          closeSpeed="1500"   toggleTitle="Réduire" 
 >
     
     <f:facet name="header" >
         <h:outputLabel value=" #{controleurCrudClient2.client.nomCli}"  />
     </f:facet>
     <p:panelGrid  columns="2"   styleClass="panelGrid" columnClasses="colGrid1, colGrid2"  >
                   
               
         <p:outputLabel value="Adresse"/>
         <h:outputText value="#{controleurCrudClient2.client.adrCli}  #{controleurCrudClient2.client.laRegion.nomRegion}" />
                     
         <p:outputLabel for="caClient" value="Chiffres d'affaires: "/>
         <h:outputText  id="caClient"                       
                        value="#{controleurCrudClient2.client.caAnneeEnCours()}"
         >
           <f:convertNumber 
                          type="currency" currencySymbol="€" 
                          groupingUsed="true"
                          minFractionDigits="2"  
           />                     
        </h:outputText>    
   
                             
          <p:outputLabel  for="soldeClient" value="Solde: "/>
          <h:outputText   id="soldeClient"                       
                          value="#{-controleurCrudClient2.client.resteARegler()}"
          >
            <f:convertNumber 
                          type="currency" currencySymbol="€" 
                          groupingUsed="true"
                          minFractionDigits="2" 
            />
                        
          </h:outputText>    
      
        
  </p:panelGrid>    
     
  <p:ajax event="toggle"   update="@all"/>   
 </p:panel>   

</ui:composition>  
   