
<ui:composition 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
>
              
    <p:selectOneListbox  id="comboCliCrud"
              
        style= "border-radius: 15px;width: 40%; 
                border: solid deepskyblue;
                background-color: silver; "
        scrollHeight="70"                         
        
        value="#{controleurCrudClient2.client}"   
    >
            
        <f:selectItems    
            value="#{controleurCrudClient2.lesClients}" 
            var       = "clt"
            itemLabel = "#{clt.numCli}: #{clt.nomCli} "    itemValue="#{clt}"          
         />  
           
         <p:ajax   event="change"
                   update="modifClient:infosclientPourCrud "
                   listener="#{controleurCrudClient2.traiterSelectionCombo}"/> 
           
     </p:selectOneListbox> 
    
</ui:composition>   
